body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #0150a3a9;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dog_img {
    
    width: auto;
  }


  .grid_favorite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  .grid_favorite img {
    width :150px;
    height: auto;
    padding: 10px
  }